# Cleaning Practice
Let's first practice handling missing values and duplicate data using the `cancer_data_means.csv` file.

In [82]:
#import libraries and assign cancer_data_means.csv to a variable 
import pandas as pd
df = pd.read_csv("cancer_data_means.csv")
df

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave_points_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,NaN,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,NaN,0.28390,0.24140,0.10520,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883
...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884

In [72]:
# check which columns have missing values
missing_values = df.isnull().any()
columns_with_missing_values = missing_values[missing_values == True]
columns_with_missing_values

texture_mean       True
smoothness_mean    True
symmetry_mean      True
dtype: bool

In [88]:
# confirm your correction
df.loc[:, ["texture_mean", "smoothness_mean", "symmetry_mean"]]

     texture_mean  smoothness_mean  symmetry_mean
0             NaN          0.11840         0.2419
1           17.77          0.08474         0.1812
2           21.25          0.10960         0.2069
3           20.38              NaN         0.2597
4           14.34          0.10030         0.1809
..            ...              ...            ...
564         22.39          0.11100         0.1726
565         28.25          0.09780         0.1752
566         28.08          0.08455         0.1590
567         29.33          0.11780         0.2397
568         24.54          0.05263         0.1587

[569 rows x 3 columns]

In [74]:
# how many duplicates are there ?
df.duplicated().sum()

5

In [75]:
# drop duplicates
df.drop_duplicates(inplace=True)
df

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave_points_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,NaN,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,NaN,0.28390,0.24140,0.10520,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883
...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884

In [76]:
# confirm correction by rechecking for duplicates in the data
df.duplicated().sum()

0

## Renaming Columns
Since we also previously changed our dataset to only include means of tumor features, the "_mean" at the end of each feature seems unnecessary. It just takes extra time to type in our analysis later. Rename the columns of the dataframe to remove "_mean".

In [77]:
# rename the columns of the dataframe (remove _mean from the name of each column if found)
df.columns = df.columns.str.strip('_mean')
df.columns

Index(['id', 'diagnosis', 'radius', 'textur', 'perimeter', 'r', 'smoothness',
       'compactness', 'concavity', 'concave_points', 'symmetry',
       'fractal_dimensio'],
      dtype='object')

In [78]:
# display first few rows of the dataframe to confirm changes
df.head(3)

,id,diagnosis,radius,textur,perimeter,r,smoothness,compactness,concavity,concave_points,symmetry,fractal_dimensio
0,842302,M,17.99,NaN,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871
1,842517,M,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667
2,84300903,M,19.69,21.25,130.0,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999

In [79]:
# save this for later as a csv file named "cancer_data_edited.csv" and set indexing to false (why ??)
df.to_csv("cancer_data_edited.csv", index=False)

In [80]:
# to ensure that the DataFrame's index is not included in the saved CSV file